<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %> <!-- header partial -->


</head>
<body>
    <style>
        :root {
            --border-radius: 18px;
        }
       
        #playing {
            margin: 10px auto 0 auto;
            text-align: center;
        }
        .ui {
            margin-top: 35px;
        }
        .song-title {
            font-weight: 550;
        }
        #myProgress {
            width: 90%;
            max-width: 350px;
            margin: 20px auto 0 auto;
            background-color: #bdc1d9;
            border-radius: var(--border-radius);
            overflow: hidden;
        }
        #myBar {
            overflow: hidden;
            width: 1%;
            height: 6px;
            /* background-color: #3759b8; */
            background: linear-gradient(45deg, #0006ff, #a801ff);

        }
        .song-image {
            width: 300px;
            height: 300px;
            margin: 10px auto 0 auto;
            
            border-radius: var(--border-radius);
        }
        #paused {
            text-transform: uppercase;
            font-size: 25px;
            font-style: italic;
            color: #919294;
            font-weight: 750;
            margin: 30px auto 0 auto;
        }
        .states {
            width: 400px;
            display: flex;
            flex-direction: column;
            margin: 40px auto 0 auto;
        }
        .state {   
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 10px;
            align-items: center;
        }
        .state .back-state {
            display: flex;
            justify-content: center;
            align-items: center;
            width:70px;
            height:70px;
            background-color: #fff;
            opacity: 0.9;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            margin-bottom: 5px;

        }
        .state button {
            background-color: inherit;
            border: none;
        }
    </style>



<%- include('partials/nav') %> <!-- navbar partial -->


<div id="playing">
    <div class="ui">
        <h2 class="song-title" id="song-title"></h2>
        <small class="artist" id="artist"></small>
        <br>
        
        <img class="song-image" id="song-image">
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
        
        <p class="paused" id="paused" hidden>Paused</p>                
            <div class="waves" id="waves" hidden>
            <div class="loader">
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                <span class="stroke"></span>
                </div>
        </div>

        <div class="states">
            
            <div class="state play" id="play">
                <div class="back-state" id="play-div">
                <button type="button" onclick="play()" id="play-button">
                    <img src="https://icongr.am/fontawesome/play.svg?size=128&color=000000"
                style="width:30px; height:30px;">
                </button>
                </div>
                <small>Play</small>
            </div>
            <div class="state pause" id="pause">
                <div class="back-state" id="pause-div">
                <button type="button" onclick="pause()" id="pause-button">
                    <img src="https://icongr.am/fontawesome/pause.svg?size=128&color=000000"
                style="width:30px; height:30px;">
                </button>
                </div>
                <small>Pause</small>

            </div>
            <div class="state skip" id="skip">

                <div class="back-state">

                <button type="button" onclick="voteToSkip()" id="vote-button">
                    <img src="https://icongr.am/fontawesome/fast-forward.svg?size=128&color=000000"
                    style="width:30px; height:30px;" id="vote-img"></button>
                    </div>
                <small><span id="votes">0</span>/5</small>
            </div>
            <div class="state volume" id="volume">

                <div class="back-state">

                <button type="button" onclick="setVolume()" id="volume-button">
                    <img src="https://icongr.am/fontawesome/volume-off.svg?size=128&color=000000"
                    style="width:40px; height:auto;" id="vote-img"></button>
                </div>
                <small>Set Volume %(0%-100%)</small>
                <input type="text" placeholder="Volume %" name="volume" id="volume-percentage">

            </div>
            <div class="state add" id="add">
                <div class="back-state">
                    <button type="button" onclick="addSong()"><img src="https://icongr.am/fontawesome/plus.svg?size=128&color=000000"
                    style="width:30px; height:30px;">
                    </button>
                    
                
            </div>
                <small>Add Song</small>
                <input type="text" placeholder="Song Url" name="song-url" id="song-url">
            </div>

        </div>
        <p id="response"></p>


    </div>
    </div>

    
    <script>
        // import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";

        const socket = io("http://<%=myIp%>:3000/");
        
        socket.on('connection');

        var IMAGE_URL = "";
        var SONG_TITLE = "";
        var ARTIST = "";

        var songImageDiv = document.getElementById('song-image');
        var progressBar = document.getElementById('myBar');
        var songTitle = document.getElementById('song-title');
        var artistDiv = document.getElementById('artist');
        var votesDiv = document.getElementById('votes');
        var wavesDiv = document.getElementById('waves');
        var pauseText = document.getElementById('paused');
        var pauseButton = document.getElementById('pause-button');
        var pauseDiv = document.getElementById('pause-div');
        var playButton = document.getElementById('play-button');
        var playDiv = document.getElementById('play-div');
        var volumePercentage = document.getElementById('volume-percentage');
        var voteButton = document.getElementById('vote-button');
        var voteDiv = document.getElementById('vote-img');
        var votesDiv = document.getElementById('votes');



        socket.on("currentPlaybackState", (data) => {
                setUi(data);
                // console.log(data);
        });

        socket.on("votes", (data) => {
            // console.log(data.votes);
            votesDiv.textContent = data.votes;
            // we can vote as much as we like because this is a secret controller!!!!!!
        })

        
        async function voteToSkip() {
            socket.emit("vote-to-skip-secret");
        }

        async function setVolume() { // change volume
            fetch(`http://<%myIp%>:3000/api/volume?volume_percent=${volumePercentage.value}`,{
                method: 'GET',
            }).then((data) => {
                document.getElementById('volume-percentage').value = "";
            })
        }

        async function pause() { // send pause request
            fetch("http://<%myIp%>:3000/api/pause",{
                method: 'GET',
            })
        }
        
        async function play() { // send play request
            fetch("http://<%myIp%>:3000/api/play", {
                method: 'GET',
            })
        }

        async function addSong() {
            var songUrl = document.getElementById('song-url').value;
            var responseText = document.getElementById('response');
            console.log(songUrl);
            fetch(`http://<%myIp%>:3000/api/add-song-to-playlist?spotify_link=${songUrl}`, {
                method: 'GET',
            }).then((response) => response.json()).then((responseJson) => {
                responseText.style.color = "green";
                responseText.textContent = responseJson.text;
                document.getElementById('song-url').value = "";
            })
        }
        
        

        async function setUi(data) {
            
                if (data.data.is_playing) { 
                    wavesDiv.hidden = false;
                    pauseText.hidden = true;
                    songImageDiv.style.opacity = 1;
                    playDiv.style.opacity = 0.3;
                    playButton.disabled = true;
                    pauseDiv.style.opacity = 1;
                    pauseButton.disabled=false;

                } else {
                    pauseText.hidden = false;
                    wavesDiv.hidden = true;
                    songImageDiv.style.opacity = 0.7;
                    playDiv.style.opacity = 1;
                    playButton.disabled = false;
                    pauseDiv.style.opacity = 0.3;
                    pauseButton.disabled=true;
                }

            if (IMAGE_URL != data.data.item.album.images[0].url){
                IMAGE_URL = data.data.item.album.images[0].url;
                songImageDiv.setAttribute('src', IMAGE_URL);
            }
            if(SONG_TITLE != data.data.item.name){
                SONG_TITLE = data.data.item.name;
                songTitle.textContent = SONG_TITLE;

                var artists = "";
                
                data.data.item.artists.forEach(artist => { //artists list
                    artists += artist.name + ", "; 
                })
                ARTIST = artists.slice(0, artists.length - 2);
                artistDiv.textContent = ARTIST;
            }


            var totalSeconds = data.data.item.duration_ms;
            var currentSeconds = data.data.progress_ms;
            progressBar.style.width = currentSeconds/totalSeconds * 100 +"%";
        
    }
    </script>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

    

     


</body>
</html>